@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');
*{
  margin:0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  color:#fff;
}
.login-form.hidden{
  display: none;
}
.todo-container.hidden{
  opacity: 0;
  display: none;
}
.todo-container .todo-form.hidden{
  display: none;
}
.todo-container .main-todo.hidden{
  display: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-position: center center;
  background-size:cover;
  animation: moveLR 120s infinite;
}
.login-form{
  max-width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}
.login-form h3{
  text-align: center;
}
.login-form input{
  width:65%;
  padding:1em 1em 0.25em 1em;
  font-size:1em;
  background-color: transparent;
  border:none;
  border-bottom:4px solid white;
  transition: .2s;
  text-align: center;
  outline: none;
}
.login-form input:focus{
  width:80%;
}

.todo-container{
  max-width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.4em;
}
.todo-container .clock{
  font-size:5em;
}
.todo-container .greeting{
  padding:0.5em 0 1em 0;
}
.todo-container .greeting span{
  font-size: 1.1em;
}
.todo-container .todo-form{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-container .todo-form h3{
  text-align: center;
}
.todo-container .todo-form input{
  font-family: inherit;
  padding:1em 0.5em 0.3em 0.5em;
  text-align: center;
  width:40%;
  background-color: transparent;
  border:none;
  border-bottom:4px solid white;
  outline:none;
  transition: .3s;
}
.todo-container .todo-form input:focus{
  width:70%;
}

.todo-container .main-todo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-container .main-todo h4{
  margin-bottom:0.7em;
}
.todo-container .main-todo .todo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container .main-todo .todo:hover .checkbox-css,
.todo-container .main-todo .todo:hover button{
  transition:.6s;
  opacity: 1;
}
.todo-container .main-todo .todo input{
  display: none;
}
.todo-container .main-todo .todo .checkbox-css{
  opacity: 0;
  display: inline-block;
	width:1em;
  height:1em;
	border: 3px solid white;
	cursor: pointer;
}
.todo-container .main-todo .todo input:checked + .checkbox-css{
  background-color: white;
}
.todo-container .main-todo .todo .main-label{
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  margin:0 1em 0 1.33em;
}
.todo-container .main-todo .todo .main-label.completed{
  position: relative;
  transition: .5s;
}
.todo-container .main-todo .todo .main-label.completed:after{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  animation-name: strike;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
} 
.todo-container .main-todo .todo button{
  opacity: 0;
  border: none;
  background-color: transparent;
  font-weight: 700;
}
.todo-container .quotes{
  font-size:0.9em;
  position: fixed;
  bottom:0.5em;
  transform: translateY(1.7em);
  transition: .5s;
}
.todo-container .quotes:hover{
  transform: translateY(0);
}
.todo-container .quotes span{
  text-align: center;
  display: block;
}

.todo-container .weather{
  position: fixed;
  top:1em;
  right:1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.todo-container .weather .weather-temp{
  display: flex;
}
.todo-container .weather .weather-temp img{
  width:1.5em;
}
.todo-container .weather .weather-temp span{
  font-size: 0.9em;
}
.todo-container .weather .city{
  font-size: 0.8em;
}

.todo-container .todo-list-container{
  position: fixed;
  bottom:0.5em;
  right:0.5em;
}
.todo-container .todo-list-container .todo-modal{
  background-color: rgba(0,0,0,0.55);
  padding:0.5em;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  transform: translateX(130%);
}
.todo-container .todo-list-container .todo-modal .todo-list-form{

}
.todo-container .todo-list-container .todo-modal .todo-list-form input{
  width:100%;
  padding:0.15em 0.5em;
  border-radius: 5px;
  border: none;
  background-color: rgba(0,0,0,0.6);
  outline:none;
  color:white;
}
.todo-container .todo-list-container .todo-modal .todo-list{
  padding-left: 1em;
  list-style-type: none;
}
.todo-container .todo-list-container .todo-modal .todo-list li{
  font-size:0.85em;
  margin:2px 0;
}
.todo-container .todo-list-container .todo-list-btn{
  margin-top:2px;
  border: none;
  background-color: transparent;
  float: right;
  font-weight: 700;
  transition: .2s;
  padding:0.25em 0.5em;
  border-radius: 5px;
}
.todo-container .todo-list-container .todo-list-btn.active{
  background-color:white;
  color:rgba(0,0,0,0.8);
}
.todo-list li{
  display: flex;
  justify-content: space-between;
}
.todo-list li input{
  display: none;
}
.todo-list li .checkbox-css{
  display: inline-block;
	width:1em;
  height:1em;
	border: 3px solid rgba(0,0,0,0.6);
	cursor: pointer;
}
.todo-list li input:checked + .checkbox-css{
  background-color: #fff;
}
.todo-list li .main-label{
  width:100%;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  margin:0 0.5em 0 0.9em;
  text-align: start;
}
.todo-list li .main-label.completed{
  position: relative;
  transition: .5s;
}
.todo-list li .main-label.completed:after{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  background: white;
  animation-name: strike;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
} 
.todo-list li button{
  border: none;
  background-color: transparent;
  font-weight: 700;
  color:white;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}

@media screen and (max-width:350px){
  .login-form{
    font-size:0.9em;
  }
  .todo-container .clock{
    font-size:3em;
  }
  .todo-container .greeting{
    padding:0.5em 0 1em 0;
    font-size:1em;
  }
  .todo-container .greeting span{
    font-size: 1.1em;
  }
  .todo-container .todo-form h3{
    font-size:1em;
  }
  .todo-container .main-todo .todo .main-label{
    font-size:1em;
  }
  .todo-container .quotes{
    font-size:0.6em;
  }
  .todo-container .weather{
    font-size:0.8em;
  }
  .todo-list-form input{
    font-size:0.5em;
  }
  .todo-list li .main-label{
    font-size:0.3em;
  }
}

@keyframes moveLR {
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}